@import "jacket";

$jacket: track, overcoat, mod ".triumph";

.cafe-race {
  /* Universal */
  font-size: 1rem;

  /* jacket(track, tie, suit) */
  @include jacket(track, tie, suit) {
    position: absolute;
  }
  /* jacket(suit, mod, overcoat) */
  @include jacket(suit, mod, overcoat) {
    top: 3em;
  }
  /* jacket(leather) */
  @include jacket(leather) {
    position: fixed;
  }
}
